body{
    background-image: url("/assets/battlegroundbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    font-weight: bold;
}
.smargin{
    margin-right: 1vw;
}

button{
    margin-right: 1vw;
}
.meowimg{
    margin-top: 5vh;
    margin-left: 35vw;
}

header{
    margin-top: 2vh;
}
.bph{
    margin-right:9vw;
    margin-top: 1vh;
}
#target{
    color:sandybrown;
}
#player{
    color:yellow;
}
