body{
    background-image: url(/assets/battlebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    font-weight: bold;
}
.smargin{
    margin-right: 1vw;
}
button{
    margin-right: 1vw;
}
img{
    margin-top: 6vh;
    margin-bottom: 3vh;
}
button{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
header{
    margin-top: 5vh;
}
.bph{
    margin-right:9vw;
}